* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
        }
body {
    
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.box {
    height:200px;
    background-color: white;
    width: 300px;
    padding: 28px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    
}

.box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.box img {
    margin:20px 0;
    width: 70px;
    margin-bottom: 10px;
    
}

.box h3 {
    font-size: 18px;
    margin: 21px 0;
}